html, body { font-family: arial, sans-serif; }
table { border-collapse: collapse;  margin-left: auto;
    margin-right: auto; }
table{
    border: 1px solid #000;

    }
tr td {
border: 1px solid #000;

}
th{
    border: 1px solid #000;
    width:35px;
    height: 35px;
    padding: 5px;
}
tr{
    width:35px;
    height: 35px;
    padding: 5px;
}
td {
    width: 35px;
    height: 35px;
    padding: 5px;
}
.formy{
    text-align: center;
    
}
input{
    padding:8px;
    margin: 5px;
}

button{
    padding:6px;
    padding-left:20px;
    padding-right:20px;
    margin: 5px;
    background-color: #7395eb;
    color: white;
    border: 2px solid #7395eb;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.button:hover {background-color: #7395eb}
  
